<%- include("Navbar.ejs") %>

<form action="/admin/save_company" method="post">

<div class="container">
    
    <div class="row p-3 bg-white rounded">
        <div class="col-md-12">
            <h1 class="fw-bold">About Company <%=about_company[0].company_name%></h1>
        </div>
    </div>

    <div class="row bg-white p-3 rounded mt-2">

        <div class="col-md-4 fw-bold mt-2 mb-3">
            Company Name 
            <input class="form-control" type="text" value="<%=about_company[0].company_name%>" name="company_name">
        </div>

        <div class="col-md-8 fw-bold mt-2 mb-3">
            Company Address 
            <input class="form-control" type="text" value="<%=about_company[0].company_address%>" name="company_address">
        </div>

        <div class="col-md-4 fw-bold mt-2 mb-3">
             Mobile
             <input class="form-control" type="tel" value="<%=about_company[0].company_mobile%>" name="company_mobile">
        </div>

        <div class="col-md-4 fw-bold mt-2 mb-3">
            Email 
            <input class="form-control" type="email" value="<%=about_company[0].company_email%>" name="company_email">
        </div>

        <div class="col-md-4 fw-bold mt-2 mb-3">
            WhatsApp No
            <input class="form-control" type="tel" value="<%=about_company[0].company_whatsapp%>" name="company_whatsapp">
        </div>

        <div class="col-md-3 fw-bold mt-2 mb-3">
           Instagram
           <input class="form-control" type="text" value="<%=about_company[0].instagram%>" name="instagram">
        </div>

        <div class="col-md-3 fw-bold mt-2 mb-3">
           YouTube 
           <input class="form-control" type="text" value="<%=about_company[0].youtube%>" name="youtube">
        </div>

        <div class="col-md-3 fw-bold mt-2 mb-3">
           Facebook
           <input class="form-control" type="text" value="<%=about_company[0].facebook%>" name="facebook">
        </div>

        <div class="col-md-3 fw-bold mt-2 mb-3">
           Twitter
           <input class="form-control" type="text" value="<%=about_company[0].twitter%>" name="twitter">
        </div>

        <div class="col-md-12 text-center mt-3">
            <button class="btn btn-primary px-4">Save Company</button>
        </div>

    </div>

</div>

</form>

<%- include("Footer.ejs") %>