<%- include("Navbar.ejs") %>

<form action="/admin/save_banner" method="post" enctype="multipart/form-data">
  <div class="container">
    <div class="row p-2 bg-white rounded mb-3">
      <div class="col-md-12">
        <h1 class="fw-bold">Add Banner</h1>
      </div>
    </div>

    <div class="row bg-white p-3 rounded">
      <div class="col-md-4 fw-bold mb-3">
        <label>Title</label>
        <input
          class="form-control"
          type="text"
          placeholder="Enter Title"
          name="banner_title"
        />
      </div>

      <div class="col-md-8 fw-bold mb-3">
        <label>Details</label>
        <input class="form-control" type="text" name="banner_details" />
      </div>

      <div class="col-md-4 fw-bold mb-3">
        <label>Button Text</label>
        <input class="form-control" type="text" name="button_text" />
      </div>

      <div class="col-md-4 fw-bold mb-3">
        <label>Button URL</label>
        <input class="form-control" type="text" name="button_url" />
      </div>

      <div class="col-md-4 fw-bold mb-3">
        <label>Banner Image</label>
        <input class="form-control" required type="file" name="banner_image" />
      </div>

      <div class="col-md-12 text-center mt-3">
        <button class="btn btn-primary">Add Banner</button>
      </div>
    </div>
  </div>
</form>

<div class="container">

    <div class="row p-2 bg-white">
        <div class="col-md-12">
            <h1 class="fw-bold">Banner List </h1>
        </div>
    </div>

  <div class="row mt-2 bg-white p-2">
    <div class="col-md-12">
      <table class="table table-borderd">
        <tr>
            <td>Action</td>
          <th>Sr.No</th>
          <th>Title</th>
          <th>details</th>
          <th>Btn text</th>
          <th>Btn URL</th>
          <th>Image</th>
          <th></th>
        </tr>

        <% for(var i=0 ;i<Banner.length ;i++){ %>

            <tr>
                <td>
                    <a href="/admin/delete/<%=Banner[i].banner_id%>"><button class="btn btn-danger"><i class="fa-solid fa-trash"></i></button></a>
                    <a href="/admin/edit/<%=Banner[i].banner_id%>"><button class="btn btn-primary mt-1"><i class="fa-solid fa-pen-to-square"></i></button></a>
                </td>
                <td><%=i+1%></td>
                <td><%=Banner[i].banner_title%></td>
                <td><%=Banner[i].banner_details%></td>
                <td><%=Banner[i].button_text%></td>
                <td><a href="<%=Banner[i].button_url%>">click</a></td>
                <td>
                    <img style="width: 100px; height: 100px;" src="/upload/<%=Banner[i].banner_image%>" alt="">
                </td>
            </tr>
            

        <% } %>

      </table>
    </div>
  </div>
</div>

<%- include("Footer.ejs") %>
